<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.jobscraper.service</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/node</string>
        <string>/Users/rohithgoud30/personal_dev/cli-test/node_modules/.bin/ts-node</string>
        <string>/Users/rohithgoud30/personal_dev/cli-test/src/server.ts</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/rohithgoud30/personal_dev/cli-test</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/jobscraper.stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/jobscraper.stderr.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
